<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Live-tekst</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="data:," />
  </head>
  <body class="app app-live">
    <main class="livebox huge" tabindex="0">
      <div id="liveText"></div>
      <div class="cursor" aria-hidden="true"></div>
    </main>
    <script src="/static/control.js" defer></script>
  </body>
</html>